.HkComments {
  .hk-card__top {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hk-comment-section:nth-child(1) {
    padding-top: 71px;
    .icon-comment__replay {
      position: absolute;
      top: 24px;
      right: 20px;
      width: 22px;
      height: 22px;
      background-image: url("./../images/icon-comments-replay.svg");
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}
