.TabNav {
  .TabNav__list {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .TabNav__list__item {
    font-size: 25px;
    color: #c4c4c4;
    font-weight: bold;
  }
  .TabNav__list__item:nth-child(1) {
    margin-right: 31px;
    line-height: 29.3px;
  }
  .TabNav__list__item:nth-child(2) {
  }
  .TabNav__list__item--active {
    color: #ff7118;
  }
}

.hk-card {
  margin-bottom: 20px;
}
.ItemList {
  margin: 0 20px;
}


