@import "./../variables.scss";

.style-guide {
  padding-top: 20px;
}

.hk-card__inner {
  box-sizing: border-box;
  padding-bottom: 20px; // 추후 삭제
}
.hk-card__top {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
  border: 0.8px solid #a0a0a0;
  h1 {
    font-size: $h1-font-size;
    font-weight: bold;
    line-height: 30px;
    text-transform: capitalize;
  }
  .hk-card__top__site {
    font-weight: 300;
    color: #ff7118;
  }
  // 클릭 코멘트
  .hk-card__top.click {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
}
.hk-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  border: 0.8px solid #a0a0a0;
  border-top: none;
  span {
    font-size: $font-size-md;
    line-height: 18.41px;
  }
  .hk-card__info__left {
    & span:nth-child(1) {
      text-decoration: underline;
      color: #555555;
    }
    & span:nth-child(2) {
      color: #a0a0a0;
    }
  }
  .hk-card__info__right {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .hk-card__info__right__point {
    display: flex;
    margin-right: 10px;
    i {
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("../images/icon-point.svg");
      background-size: cover;
    }
  }
  .hk-card__info__right__comment {
    display: flex;
    i {
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("../images/icon-comment.svg");
      background-size: cover;
    }
  }
}

//Card Show 컴포넌트
.hk-card.show {
  border: 1px solid #000;
  .hk-card__top {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
  }
  // 일정 point가 찼을대
}

// comment-section
.comment__container {
  width: calc(100% - 30px);
  padding: 10px 20px;
}
.hk-comment {
  position: relative;
  // margin-top: 81px;
  .hk-comment__inner {
    word-break: break-all;
  }
  .hk-comment__info {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #bfbfbf;
    margin-bottom: 10px;
  }
  .hk-comment__item p {
    color: #555555;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  .hk-reply {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #555555;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
}

// Ask-opencard
.hk-ask-opencard {
  padding-bottom: 30px;
  .hk-ask-main {
    padding-top: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
  }
  .hk-card__top__etc-info {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  .hk-card__top__etc-info .writer,
  .hk-card__top__etc-info .point {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #555555;
  }
  .hk-card__top__etc-info .writer span:nth-child(1) {
    text-decoration: underline;
    font-weight: bold;
  }
  .hk-card__top__etc-info .point {
    font-weight: bold;
  }
  .hk-card__top__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  .hk-card__top__tag.tag--ask {
    background-color: #ff7118;
    color: #fff;
  }
  .hk-card__top__tag.tag--tell {
    background-color: transparent;
    color: #ff7118;
    border: 1px solid #ff7118;
  }
  .hk-ask-main p {
    // display: -webkit-box; //말줄임표
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    width: calc(100% - 30px);
    margin: 16px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    word-break: break-all;
  }
}

.style-guide {
  margin-left: 300px;
  margin-right: 600px;
  .style-guide__title {
    font-size: 50px;
    padding-bottom: 40px;
  }
  .CommonCard.sample {
    padding-bottom: 40px;
  }
  .HkCardTop.sample {
    width: 360px;
    padding-bottom: 40px;
  }
  .Show.sample {
    width: 173px;
    padding-bottom: 40px;
  }

  .Ask-opencard-comments.sample {
    width: 356px;
    padding-bottom: 40px;
  }
  .Ask-opencard-info.sample {
    width: 356px;
    padding-bottom: 40px;
  }
}

// show

.HkShow {
  position: relative;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 0 15px;
  .hk-show__list {
    column-width: 130px;
    column-gap: 15px;
    margin-bottom: 60px;
  }
  .hk-card {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
  }
  .hk-card__top h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
  }
  .hk-card__top__site {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #ff7118;
  }
  .hk-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .hk-card__bottom span {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 12px;
  }
  .hk-card__info__left {
    & span:nth-child(1) {
      text-decoration: underline;
      color: #555555;
    }
    & span:nth-child(2) {
      color: #a0a0a0;
    }
  }
  .hk-card__info__right {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .hk-card__info__right span {
    font-size: 9px;
    line-height: 9px;
  }
  .hk-card__info__right__point {
    display: block;
    margin-right: 10px;
    text-align: center;
    i {
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("../images/icon-point.svg");
      background-size: cover;
      margin-left: 1px;
    }
  }
  .hk-card__info__right__comment {
    display: block;
    text-align: center;
    i {
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("../images/icon-comment.svg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 1px;
    }
  }

  // active
  .hk-card__top.card--active {
    background-color: #ff7118;
    .hk-card__top__site {
      display: block;
      color: #fff;
      margin-bottom: 3px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
    h1 {
      color: #fff;
    }
  }
}

// ask

.hk-ask {
  margin-top: 40px;
  margin-left: 14px;
  margin-right: 14px;
  .hk-card.link {
    display: block;
    text-decoration: none;
    color: #000;
  }
  .hk-card__top__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  .hk-card__top__tag.tag--ask {
    background-color: #ff7118;
    color: #fff;
  }
  .hk-card__top__tag.tag--tell {
    background-color: transparent;
    color: #ff7118;
    border: 1px solid #ff7118;
  }
  .hk-card__top__article {
    display: -webkit-box; //말줄임표
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: calc(100% - 30px);
    margin-top: 12px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.hk-jobs {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 60px;
  h1 {
    width: 80%;
    font-weight: bold;
    width: 225px;
    text-transform: capitalize;
  }
  .hk-card__top {
    margin-bottom: 10px;
  }
  .hk-card__top:last-child {
    margin-bottom: 0;
  }
  .hk-card__top__job-area {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .job-area__company-name {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .job-area__date {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
    color: #a0a0a0;
  }
}
